*, *::before, *::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
  text-size-adjust: 100%;
}

body, h1, h2, h3, p, figure, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
}

button, input, textarea, select {
  font: inherit;
}

img, picture, svg, canvas {
  display: block;
  max-width: 100%;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

:where(ul, ol)[role='list'] {
  margin: 0;
  padding: 0;
  list-style: none;
}
